body { 
    margin: 0;
    position: relative;
}

#chat {
    height: 200px;
    width: 600px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute; 
    bottom: 0;
}

.messages { 
    padding: 5px;
    border: 1px solid #000;
    width: 590px;
    height: 160px;
    overflow-y: auto;
}

.reply {
    padding: 3px;
}

#input {
    width: 500px;
}

#send {
    width: 80px;
}

p {
    margin: 0 0 3px 0;
}